@charset "UTF-8";

#container{
	background-color: #C97709;
	padding-bottom: 1px;
	width: 850px;
	margin:auto;
}

body{
	background-color:#003365;
}

h1{
	color: #003365;
	border: 3px solid #FFFFFF;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	background-color: #FFFFFF;
	font-weight: bold;
	text-align: center;	
}

h2{
	color: #003365;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	border-width: 0px;
	border: 3px solid #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

p{
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin-left: 5px;	
}

footer{
	color: #003365;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 15px;
}

.rules{
	float: right;
	border: thick solid #FFFFFF;
	background-color: #003365;
	color: #FFFFFF;
	width: 275px;
	height: 200px;
	padding-left: 5px;	
}

#heading1{
	margin-right: 527px;
}

#heading2{
	margin-right: 497px;
}

#heading3{
	margin-right: 405px;
}

span{
	font-style: italic
}
