/* CSS Document */

body {
	background-color: #29bbd9;
}

h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif		;
	padding-top: 5px;	
}

h2 {
	color: #FFFFFF;
	padding-left: 5px;	
	font-family: "Arial Black", Gadget, sans-serif;
}


p {
	color: #FFFFFF;
	padding-left: 7px;
  font-family: Noto Sans, sans-serif;
}

ol {
	color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
	color: #FFFFFF;
	padding-left: 5px;
  font-family: Noto Sans, sans-serif;
}



a:link {color: #000069}
a:hover {color: #e6e600}

#link {
	text-align: center;
}



a {
  color: #000069;
  font-family: "Arial Black", Gadget, sans-serif;
}

table {
  width: 600px;
  text-align: center;
}

img {
  margin-bottom: 20px;
}

td {
  background-color: #FFFFFF;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
}


.center {
    width: 25%;
    float: left;
    text-align: center;
}
