/* CSS Document */

body {
  background-color: #000000
}

h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif		;
	padding-top: 5px;	
}

h2 {
	color: #FFFFFF;
	padding-left: 5px;	
	font-family: "Arial Black", Gadget, sans-serif;
}

h3 {
	color: #FFFFFF;
	padding-left: 5px;	
	font-family: "Arial Black", Gadget, sans-serif;
}


p {
	color: #FFFFFF;
	padding-left: 7px;
  font-family: Noto Sans, sans-serif;
	text-align: center;
}


footer {
	color: #FFFFFF;
	padding-left: 5px;
  font-family: Noto Sans, sans-serif;
  text-align: center;
}


a:link {color: #29bbd9}
a:hover {color: #e6e600}


.page1 {
  color: #29bbd9;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}

.page2 {
  color: #1088eb;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}

.page3 {
  color: #0b3ab3;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}

.page4 {
  color: #0c2970;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}

.page5 {
  color: #091d4f;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}

.page6 {
  color: #070c24;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}


table {
  width: 600px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

img {
  margin-bottom: 20px;
}

.nav {
  background-color: #FFFFFF;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.photo {
    width: 50%;
    float: left;
    text-align: center;
}	

#container1 {
  background-color: #29bbd9;
  width: 900px;
	margin: auto;
	padding-bottom: 5px;
}

#container2 {
  background-color: #1088eb;
  width: 900px;
	margin: auto;
	padding-bottom: 5px;
}

#container3 {
  background-color: #0b3ab3;
  width: 900px;
	margin: auto;
	padding-bottom: 5px;
}

#container4 {
  background-color: #0c2970;
  width: 900px;
	margin: auto;
	padding-bottom: 5px;
}

#container5 {
  background-color: #091d4f;
  width: 900px;
	margin: auto;
	padding-bottom: 5px;
}

#container6 {
  background-color: #070c24;
  width: 900px;
	margin: auto;
	padding-bottom: 5px;
}

.badges {
  display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}
