/* CSS Document */

body {
  background-color: #000000
}

h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif		;
	padding-top: 5px;	
}

h2 {
	color: #FFFFFF;
	padding-left: 5px;	
	font-family: "Arial Black", Gadget, sans-serif;
}


p {
	color: #FFFFFF;
	padding-left: 7px;
  font-family: Noto Sans, sans-serif;
	text-align: center;
}

ol {
	color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
	color: #FFFFFF;
	padding-left: 5px;
  font-family: Noto Sans, sans-serif;
	text-align: center;
}



a:link {color: #29bbd9}
a:hover {color: #e6e600}

#link {
	text-align: center;
}


.page1 {
  color: #29bbd9;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}

.page2 {
  color: #1088eb;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}

table {
  width: 600px;
  text-align: center;
}

img {
  margin-bottom: 20px;
}

.nav {
  background-color: #FFFFFF;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}




.photo {
    width: 50%;
    float: left;
    text-align: center;
}	

#container1 {
  background-color: #29bbd9;
  width: 900px;
	margin: auto;
	padding-bottom: 5px;
}

#container2 {
  background-color: #1088eb;
  width: 900px;
	margin: auto;
	padding-bottom: 5px;
}
