@charset "UTF-8";

h1 {
font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
color:#B8EB26;
font-size: 225%;
text-align: center; 
}

h2 {
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
color: #B8EB26;
}

p {
color: #B8EB26;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#top {
color: #000000;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
font-size: 300%;
}

ul {
color:#FFFFFF
}

body{
background-color: #0C5780;
}

.list{
	color:#000000;
}

a {
	color: #B8EB26;
}
